* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.hero .right {
    flex: 1;
    min-width: 50%;
}

.hero .left {
    flex: 1;
}

.hero p {
    margin: 24px 0px;
}



.header, .hero, .info, .quote, .cta, .footer {
    padding-left: 240px;
    padding-right: 240px;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.header h1, .hero h2 {
    color: #f9faf8;
}

.header h1 {
    font-size: 24px;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
}

.footer, .header a, .hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.info {
    color: #1f2937;
    background-color: #f9faf8;
    padding-top: 60px;
    padding-bottom: 120px;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}

.info .card-deck {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 12px;
}

a {
    text-decoration: none;
}
